/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
}


h1,h2{
    font-family: Obviously, sans-serif;
    font-weight: 500;
}


/*
 * Base structure
 */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}



/*
 * Header
 */

header {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    z-index: 999999;
}

.bgImage {
    background: url(img/banner.jpg) no-repeat center center;
    background-size: cover;
}

.navbar-collapse {
    flex-grow: 0;
    text-align: right;
}

#animatedlogo {
    width: 4vw;
    height: auto;
    margin-right: 5%;
}

@media only screen and (max-width: 600px) {
    #animatedlogo {
        width: 8vw;
        height: auto;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: obviously, sans-serif;
    font-weight: 700;
    font-style: normal;
}


/*About*/
.section {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}

.container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}


.image-section img {
    width: 100%;
    height: auto;
}


.content-section .title {
    text-transform: uppercase;
    font-size: 26px;

}

.content-section .content h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 19px;
}

content-section .content p {
    margin-top: 10px;
    font-family: Degular, sans-serif;
    font-style: normal;
    font-size: 17px;
}




/*foto gallerij */

img{
    max-width: 100%;

}
.gallerij{
    background-color: #FFF;
    padding: 80px , 0;
}

.gallerij img{
    cursor: pointer;
}

.img-mask {
    height: 400px;
    overflow: hidden;
}



.typo {
    height: 100vh;
    padding: 100px 0;
    width: 80%;
    margin: 0 auto;
}

.typo video {
    width: 100%;
    height: auto;
}




.Vid {
    height: 100vh;
    padding: 100px 0;
    width: 80%;
    margin: 0 auto;
}

.Vid video {
    width: 100%;
    height: auto;
}




@media screen and (max-width:768px) {
 a{
    /*color: rgba(255,255,255,0.8) !important;
*/
    color: black;
 }
    .container {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-section {
        width: 100%;
        display: block;
        margin: auto;
    }

    .image-section {
        width: 100%;
        display: block;
        margin: auto;

    }

    .content-section .title {
        text-align: center;
        font-size: 19px;
    }
}

.typotekst {
    text-align:center;
    margin-top:50px;
    
     }

.tekstvid {
    text-align:center;
    max-width:50%;
}


/*Contact*/

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=Message] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=Mail]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}



}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

